<h1>Bem-vindo ao Quiz!</h1>

<nav class="navbar">
  <a routerLink="/quiz" class="nav-link"
    >Simulado AWS Certified Cloud Practitioner (CLF-C02)</a
  >
  <div class="total-perguntas">
    Total de perguntas na base: {{ totalPerguntasAws }}
  </div>
</nav>

<nav class="navbar">
  <a routerLink="#" class="nav-link">Certificação Microsoft AZ-900 </a>
  <div class="total-perguntas">Total de perguntas na base: 0</div>
</nav>

<nav class="navbar">
  <a routerLink="#" class="nav-link">Certificação Scrun (PSM I)</a>
  <div class="total-perguntas">Total de perguntas na base: 0</div>
</nav>
