<div class="tituloCentralizado">
  <h1>{{openTituloQuiz()}}</h1>
</div>

<div *ngIf="perguntas.length > 0">
  <!-- Exibe a pergunta atual e o total de perguntas -->
  <div class="col-md-12">
    <h3 class="question-counter">
      {{ 'question' | translate }}
        {{ currentQuestionIndex + 1 }} de {{ perguntas.length }}
    </h3>
  </div>

  <div class="col-md-12">
    <h4 class="small-font">
      <label>
      {{ currentQuestionIndex + 1 }}.
      {{ perguntas[currentQuestionIndex].pergunta }}
      </label>
    </h4>
  </div>

  <div class="col-md-12">
    <mat-card class="cardPergunta">
      <ng-container
        *ngIf="
          !isMultipleChoice(perguntas[currentQuestionIndex].respostaCorreta)
        "
      >
        <ng-container
          *ngFor="
            let opcao of perguntas[currentQuestionIndex].opcoes;
            let i = index
          "
        >
          <mat-radio-group
            [(ngModel)]="respostasSelecionadas[currentQuestionIndex]"
          >
            <mat-radio-button
              [ngClass]="{
                'nao-clicavel': respostasVerificadas[currentQuestionIndex]
              }"
              [value]="opcao.texto"
              (click)="onSelectOption(currentQuestionIndex, opcao.texto, false)"
            >
              <label
                [ngClass]="{
                  correta:
                    respostasVerificadas[currentQuestionIndex] &&
                    respostasCorretas[currentQuestionIndex][i],
                  incorreta:
                    respostasVerificadas[currentQuestionIndex] &&
                    !respostasCorretas[currentQuestionIndex][i]
                }"
              >
                {{ opcao.texto }}
              </label>
            </mat-radio-button>
            <div
              *ngIf="respostasVerificadas[currentQuestionIndex]"
               class="explicacaoRadio"
            >
              <p>{{ opcao.explicacao }}&nbsp;</p>
            </div>
            <div *ngIf="!respostasVerificadas[currentQuestionIndex]">
              <p>&nbsp;</p>
            </div>
          </mat-radio-group>
        </ng-container>
      </ng-container>

      <ng-container
        *ngIf="
          isMultipleChoice(perguntas[currentQuestionIndex].respostaCorreta)
        "
      >
        <div *ngFor="let opcao of perguntas[currentQuestionIndex].opcoes">
          <mat-checkbox
            [ngClass]="{
              'nao-clicavel': respostasVerificadas[currentQuestionIndex]
            }"
            [checked]="
              respostasSelecionadas[currentQuestionIndex]?.includes(opcao.texto)
            "
            (change)="onSelectOption(currentQuestionIndex, opcao.texto, true)"
          >
            <label
              [ngClass]="{
                correta:
                  respostasVerificadas[currentQuestionIndex] &&
                  respostasCorretas[currentQuestionIndex][
                    perguntas[currentQuestionIndex].opcoes.indexOf(opcao)
                  ],
                incorreta:
                  respostasVerificadas[currentQuestionIndex] &&
                  !respostasCorretas[currentQuestionIndex][
                    perguntas[currentQuestionIndex].opcoes.indexOf(opcao)
                  ]
              }"
            >
              {{ opcao.texto }}
            </label>
          </mat-checkbox>
          <div
            *ngIf="respostasVerificadas[currentQuestionIndex]"
            class="explicacaoRadio"
          >
            <p>{{ opcao.explicacao }}</p>
            <!-- Exibir explicação da opção -->
          </div>
          <div *ngIf="!respostasVerificadas[currentQuestionIndex]">
            <p>&nbsp;</p>
          </div>
        </div>
      </ng-container>
    </mat-card>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div *ngIf="perguntas.length > 0">
        <h1 class="tituloLegenda">{{ 'selected_question_types' | translate }}:</h1>
        <ul class="listaLegenda">
          <li *ngFor="let domain of domainQuestionCount | keyvalue">
            {{ domain.key  | translate }}: {{ domain.value }}
          </li>
        </ul>
      </div>
    </div>

    <div class="col-sm-8">
      <div class="col-sm-12 align-right">
        <button
          class="verificar-respostas-btn col-sm-3"
          (click)="nextQuestion()"
          [disabled]="currentQuestionIndex === perguntas.length - 1"
        >
         {{ 'next' | translate }}
        </button>

        <button
          class="verificar-respostas-btn col-sm-3"
          (click)="previousQuestion()"
          [disabled]="currentQuestionIndex === 0"
        >
            {{ 'previous' | translate }}
        </button>
      </div>
      <div class="col-sm-12 align-right">
        <button routerLink="/" class="verificar-respostas-btn col-sm-3">
          Home
        </button>

        <button
          *ngIf="simuladoFinalizado"
          (click)="navigateToQuiz()"
          class="verificar-respostas-btn col-sm-3"
        >
            {{ 'new_Simulation' | translate }}
        </button>

        <button
          (click)="verificarResposta()"
          *ngIf="
            !simuladoFinalizado && currentQuestionIndex != perguntas.length - 1
          "
          class="verificar-respostas-btn col-sm-4"
        >
          {{ 'check_Answer' | translate }}
        </button>

        <button
          (click)="finalizar()"
          *ngIf="
            !simuladoFinalizado && currentQuestionIndex === perguntas.length - 1
          "
          class="verificar-respostas-btn col-sm-3"
        >
           {{ 'finish' | translate }}
        </button>
      </div>
    </div>
  </div>

  <!-- Resultado -->
  <div *ngIf="resultado">
    <p [innerHTML]="resultado"></p>
  </div>


  <div class="resultados-container" *ngIf="dataSource.length > 0">
    <br>
    <hr>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Número da Pergunta -->
    <ng-container matColumnDef="numero">
      <th mat-header-cell *matHeaderCellDef> # </th>
      <td mat-cell *matCellDef="let element"> {{element.numero}} </td>
    </ng-container>

    <!-- Pergunta -->
    <ng-container matColumnDef="pergunta">
      <th mat-header-cell *matHeaderCellDef> Pergunta </th>
      <td mat-cell *matCellDef="let element"> {{element.pergunta}} </td>
    </ng-container>

    <!-- Resposta Selecionada -->
    <ng-container matColumnDef="respostaSelecionada">
      <th mat-header-cell *matHeaderCellDef> Resposta Selecionada </th>
      <td mat-cell *matCellDef="let element"> {{element.respostaSelecionada}} </td>
    </ng-container>

    <!-- Resposta Correta -->
    <ng-container matColumnDef="correta">
      <th mat-header-cell *matHeaderCellDef> Resposta Correta </th>
      <td mat-cell *matCellDef="let element"> {{element.correta}} </td>
    </ng-container>

    <!-- Status -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element" [ngClass]="{'acerto': element.status === 'Acertou', 'erro': element.status === 'Errou'}">
        {{element.status}}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

</div>
