<div class="tituloCentralizado">
  <h1>AWS Certified Cloud Practitioner</h1>
</div>

<div *ngIf="perguntas.length > 0">
  <!-- Exibe a pergunta atual e o total de perguntas -->
  <div class="col-md-12">
    <h3 class="question-counter">
      Pergunta {{ currentQuestionIndex + 1 }} de {{ perguntas.length }}
    </h3>
  </div>

  <div class="col-md-12">
    <h4 class="small-font">
      {{ currentQuestionIndex + 1 }}.
      {{ perguntas[currentQuestionIndex].pergunta }}
    </h4>
  </div>

  <div class="col-md-12">
    <mat-card>
      <ng-container
        *ngIf="
          !isMultipleChoice(perguntas[currentQuestionIndex].respostaCorreta)
        "
      >
        <mat-radio-group
          [(ngModel)]="respostasSelecionadas[currentQuestionIndex]"
        >
          <mat-radio-button
            *ngFor="
              let opcao of perguntas[currentQuestionIndex].opcoes;
              let i = index
            "
            [ngClass]="{
              'nao-clicavel': respostasVerificadas[currentQuestionIndex]
            }"
            [value]="opcao.texto"
            (click)="onSelectOption(currentQuestionIndex, opcao.texto, false)"
          >
            <label
              [ngClass]="{
                correta:
                  respostasVerificadas[currentQuestionIndex] &&
                  respostasCorretas[currentQuestionIndex][i],
                incorreta:
                  respostasVerificadas[currentQuestionIndex] &&
                  !respostasCorretas[currentQuestionIndex][i]
              }"
            >
              {{ opcao.texto }}
              <!-- Ajuste para exibir o texto da opção -->
            </label>
            <div
              *ngIf="respostasVerificadas[currentQuestionIndex]"
              class="explicacaoRadio"
            >
              <p>{{ opcao.explicacao }}</p>
            </div>
          </mat-radio-button>
        </mat-radio-group>
      </ng-container>

      <ng-container
        *ngIf="
          isMultipleChoice(perguntas[currentQuestionIndex].respostaCorreta)
        "
      >
        <div *ngFor="let opcao of perguntas[currentQuestionIndex].opcoes">
          <mat-checkbox
            [ngClass]="{
              'nao-clicavel': respostasVerificadas[currentQuestionIndex]
            }"
            [checked]="
              respostasSelecionadas[currentQuestionIndex]?.includes(opcao.texto)
            "
            (change)="onSelectOption(currentQuestionIndex, opcao.texto, true)"
          >
            <label
              [ngClass]="{
                correta:
                  respostasVerificadas[currentQuestionIndex] &&
                  respostasCorretas[currentQuestionIndex][
                    perguntas[currentQuestionIndex].opcoes.indexOf(opcao)
                  ],
                incorreta:
                  respostasVerificadas[currentQuestionIndex] &&
                  !respostasCorretas[currentQuestionIndex][
                    perguntas[currentQuestionIndex].opcoes.indexOf(opcao)
                  ]
              }"
            >
              {{ opcao.texto }}
            </label>
          </mat-checkbox>
          <div
            *ngIf="respostasVerificadas[currentQuestionIndex]"
            class="explicacao"
          >
            <p>{{ opcao.explicacao }}</p>
            <!-- Exibir explicação da opção -->
          </div>
        </div>
      </ng-container>
    </mat-card>
  </div>

  <div class="row">
    <div  class="col-sm-4">
      <div *ngIf="perguntas.length > 0">
        <h1 class="tituloLegenda">Tipo de perguntas Selecionadas:</h1>
        <ul class="listaLegenda">
          <li *ngFor="let domain of domainQuestionCount | keyvalue">
            {{ domain.key }}: {{ domain.value }}
          </li>
        </ul>
      </div>
    </div>

    <div class="col-sm-8 ">
      <div class="col-sm-12 align-right">
        <button
          class="verificar-respostas-btn col-sm-3"
          (click)="nextQuestion()"
          [disabled]="currentQuestionIndex === perguntas.length - 1"
        >
          Próxima
        </button>

        <button
          class="verificar-respostas-btn col-sm-3"
          (click)="previousQuestion()"
          [disabled]="currentQuestionIndex === 0"
        >
          Anterior
        </button>
      </div>
      <div class="col-sm-12 align-right">
        <button   routerLink="/" class="verificar-respostas-btn  col-sm-3">Home</button>

        <button
          *ngIf="simuladoFinalizado"
          (click)="navigateToQuiz()"
          class="verificar-respostas-btn  col-sm-3"
        >
          Nova Simulação
        </button>

        <button
          (click)="verificarResposta()"
          *ngIf="
            !simuladoFinalizado && currentQuestionIndex != perguntas.length - 1
          "
          class="verificar-respostas-btn  col-sm-4"
        >
          Verificar Resposta
        </button>

        <button
          (click)="finalizar()"
          *ngIf="
            !simuladoFinalizado && currentQuestionIndex === perguntas.length - 1
          "
          class="verificar-respostas-btn  col-sm-3"
        >
          Finalizar
        </button>
      </div>
    </div>
  </div>

  <!-- Resultado -->
  <div *ngIf="resultado">
    <p [innerHTML]="resultado"></p>
  </div>
</div>
